<body>
  <div class="wrapper">
    <header>{{appName}}</header>
    <div class="inputField">
      <input #task type="text" placeholder="{{defaultText}}"/>
      <button (click)="addTodo(task.value)"><i class="fas fa-plus" ></i></button>
    </div>
    <ul class="todoList" *ngFor="let task of tasks">
      <app-todo-card [todoName] = "task" (todoDeleteEvent)="deleteCard($event)"></app-todo-card>
    </ul>
    <div class="footer">
      <span>You have <span class="pendingTasks"></span> pending tasks</span>
      <button (click)="clearAll()">Clear All</button>
    </div>
  </div>
</body>
